.fun {
    color: blue;
    background-color: yellow;
    

}

p.absolute {
    position: absolute:
    color: maroon;
}

heading {
    color: orange;
    font-family: cursive;
    
    
ol {

    list-style-type: circle;
    

}
    
